<div class="modal top fade" id="course-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-mdb-backdrop="static" data-mdb-keyboard="true">
    <div class="modal-dialog   modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
            </div>
            <hr class="mt-0 mb-0">
            <div class="modal-body" id="content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-sm btn-dark" data-mdb-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>